<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bgazul fixed">
      <q-toolbar class="text-weight-bolder">
        <q-toolbar-title class="q-ml-xl q-mb-lg q-mt-lg">
          <q-img
            style="width:120px"
            src="../statics/Img/branco.png"
          ></q-img>
        </q-toolbar-title>
        <div class="q-mr-lg q-mb-sm gt-xs">
          <q-btn
            size="lg"
            no-caps
            flat
          >Seguros</q-btn>
          <q-btn
            size="lg"
            no-caps
            flat
          >Sobre Nós</q-btn>
          <q-btn
            size="lg"
            no-caps
            flat
          >Seguradoras</q-btn>
          <q-btn
            size="lg"
            no-caps
            flat
          >Contato</q-btn>
        </div>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
<style>
.bgazul {
  background-color: #336699;
}
.bgverde {
  background-color: #2f9e3a;
}
</style>
