<template>
  <q-page class="container">
    <div class="row justify-center bgazul">
      <div class="col-lg-4 col-md-5 col-12 q-mt-xl">
        <div class="text-h2 text-white ">
          <span class="text-weight-bolder">Saúde</span>, o maior <span class="text-weight-bolder">pratrimonio</span> da <br>sua <span class="text-weight-bolder">familia</span>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 gt-xs">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-10 q-gutter-y-sm q-my-xl row justify-center q-gutter-x-md">
        <q-btn
          no-caps
          align="around"
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/seguroResidencia.png"
            />
          </q-avatar>
          Seguros<br>Residencias
        </q-btn>
        <q-btn
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          no-caps
          align="around"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/seguroVida.png"
            />
          </q-avatar>
          Seguros<br>de Vida
        </q-btn>
        <q-btn
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          no-caps
          align="around"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/seguroViagem.png"
            />
          </q-avatar>
          Seguros<br>de Viagens
        </q-btn>
        <q-btn
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          no-caps
          align="around"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/seguroAuto.png"
            />
          </q-avatar>
          Seguros<br>de Auto
        </q-btn>

        <q-btn
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          no-caps
          align="around"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/seguroEletronico.png"
            />
          </q-avatar>
          Seguros<br>Eletrônicos
        </q-btn>
        <q-btn
          class="bg-white textverde text-weight-bolder bordabtn shadow-0"
          no-caps
          align="around"
          style="height:60px;width:170px"
        >
          <q-avatar>
            <q-img
              style="width:40px"
              src="../statics/icons/outrosSeguros.png"
            />
          </q-avatar>
          Outros<br>Seguros
        </q-btn>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-lg-12 text-h5 text-center q-my-lg textverde text-weight-bolder">
        CONHEÇA MAIS SOBRE NOSSOS SEGUROS
      </div>
      <div class="col-lg-3 col-11">
        <q-img src="../statics/Img/residencial.jpg" />
        <div class="row justify-center">
          <q-card style="
        margin-top: -30px;
        margin-bottom: 15px;
        width: 90%;
        object-fit: cover;
        border-radius: 3px;
        align: center;
        ">
            <q-card-section class="text-center text-h6 textverde text-weight-bolder">
              SEGUROS RESIDENCIAS
            </q-card-section>
            <q-card-section class="text-center text-text-subtitle1 textverde text-justify ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere erat est, sed tristique lorem aliquam id. Cras venenatis in augue id vestibulum. Maecenas ligula turpis, hendrerit a tellus ac, vehicula tempor sapien. Vestibulum luctus dui ut velit pellentesque, sed posuere ex vulputate.
            </q-card-section>
            <q-card-actions align="right">
              <q-btn
                class="bgazul text-white btnsize"
                no-caps
              > Saiba mais</q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
<style>
.bgazul {
  background-color: #336699;
}
.bgverde {
  background-color: c;
}
.textverde {
  color: #2f9e3a;
}
.bordabtn {
  border-style: solid;
  border-color: #2f9e3a;
  border-width: 2px;
}
.btnsize {
  width: 120px;
}
</style>
